
@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=Sevillana&display=swap');
#para6 {
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  