section {
  border: 2px solid;
  height: 200px;
  width: 200px;
  position: relative;
}
div {
  border: 2px solid;
  height: 200px;
  width: 200px;
  background-color: red;
}
#d1{
    position:absolute;
    left: 30%;
    /* bottom: 50%; */
    top:0px;
    background-color:green;
    margin-left: 30%;
    margin: top -28%;


}
nav{
    height: 50px;
    background-color: yellow;
    position: fixed;
    width: 98%;
    top: 0%;
    position: sticky;
    top:0%;
    /* position: static;
    top: 5%;
    left: 10%;
    bottom: 5%;
    top: 5%; */

}
